header
    .header-logo
    .header-sandwich(onclick="change(document.getElementById('menu'))")
        .header-sandwich__lines
    .header-social
        .header-social__icon.header-social__slack
            a
                include ../../static/img/svg/slack.svg
        .header-social__icon.header-social__github
            a
                include ../../static/img/svg/github.svg
        .header-social__icon.header-social__vk
            a
                include ../../static/img/svg/vk.svg
        .header-social__icon.header-social__telegram
            a
                include ../../static/img/svg/telegram.svg
.menu-layer#menu-layer
    .menu#menu


