extends ../layout/main

block title
    | Lepo.ru

block content
    main
        .stroke.stroke1
        .stroke.stroke2
        .stroke.stroke3
        .stroke.stroke4
        .stroke.stroke5
        .stroke.stroke6
        .stroke.stroke7
        .stroke.stroke8
        .stroke.stroke9
        .stroke.stroke10
        .stroke.stroke11

        button asg

